/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

html{
    scroll-behavior: smooth;
}
/* common */

/* header */
header{
    height: 70px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    line-height: 70px;
}

/* le due classi seguenti (l e r) sono state richiamate anche nella sezione partner */
.l{
    float: left;
    display: inline-block;
}

.r{
    float: right;
    display: inline-block;
}

.vertical-align-middle{
    vertical-align: middle;
}

.l a,
.r a{
    color: black;
    margin: 0 20px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    border: none;
    cursor: pointer;
}

.button-blue{
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    background-color: #0061FF;
}
/* header */

/* banner */
.banner{
    background-color: #B4D0E7;
    height: 800px;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
}

.banner>h1{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    font-size: 70px;
}

.banner img{
    width: 800px;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#text-banner{
    width: 30%;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 20px;
}

#text-banner button{
    margin: 30px 0 15px 0;
}

#text-banner i{
    font-size: 40px;
    padding-top: 30px;
}
/* banner */

/* introdizione tipi di fatturazione */
.container{
    width: 70%;
    margin: 0 auto;
}

.fatturazione{
    margin-bottom: 40px;
}

.container>section>h2{
    font-size: 40px;
    padding-bottom: 25px;
}

#annuale{
    margin-left: 20px;
}
/* introdizione tipi di fatturazione */

/* offerte */
.w-30 {
    float: left;
    min-height: 1000px;
    width: calc(100% / 3 - 20px);
    margin: 15px;
}

.w-30:first-child{
    margin-left: 0;
}

.w-30:last-child{
    margin-right: 0;
}

.offer{
    border: 1px solid lightgray;
}

.w-90{
    width: 90%;
    padding: 15px 0px;
    margin: 0 auto;
}

.w-30>h4{
    border: 1px solid lightgray;
    text-align: center; 
    padding: 10px 0;
}

.w-90>h3{
    font-weight: 800;
}

.price{
    display: block;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 800;
}

.rinnovo{
    display: block;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
    color: grey;
    margin-bottom: 40px;
}

.w-30>i{
    width: 30%;
}

.w-90 .fa-check{
    color: #0061FF;
}

li{
    list-style: none;
}

.buy-now{
    margin: 20px 0;
    display: block;
    font-weight: 600;
}

.buy-now>a{
    color: #0061FF;
    text-decoration: none;
}

.w-90>hr{
    width: 16%;
    border: 1px solid lightgray;
}

.w-90 ul li{
    font-weight: 600;
    margin: 15px 0;
}

.offer>.w-90>h4{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

.offer>.w-90>.button-blue{
    margin-top: 30px;
}

/* offerte */

/* Enterprice */
.Enterprice{
    margin-top: 50px;
    width: 100%;
    padding: 15px 0px;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: inline-block;
}

.Enterprice>h4{
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: center; 
    padding: 10px 0;
}

.title-enterprice{
    display: inline;
    font-size: 24px;
}

.inline-block{
    display: inline-block;
    float: right;
}

.contact{
    margin-top: 15px;
    margin-bottom: 30px;
}
/* Enterprice */

/* partner */
.partner{
    width: 50%;
    display: inline-block;
    margin-top: 150px;
    margin-bottom: 100px;
}

.text{
    margin-top: 190px;
    display: inline;
    width: 45%;
}

.text>p{
    margin-top: 20px;
    margin-bottom: 15px;
}

.text>button{
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
}
/* partner */

/* 6 riquadri */
#title-6-part{
    font-size: 40px;
    font-weight: 700;
}

.margin-top{
    margin-top: 60px;
}

.part{
    float: left;
    position: relative;
}

.left,
.center,
.right{
    width: calc(100% / 3 - 80px);
}

.left{
    margin: 60px 60px 60px 0;
}

.center{
    margin: 60px;
}

.right{
    margin: 60px 0px 60px 60px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part>h3{
    font-size: 25px;
    margin-bottom: 15px;
}
/* 6 riquadri */

/* team */
#link-clienti{
    color: #0061FF;
}

.teams{
    width: 100vw;
    margin-top: 50px;
}

.teams .side1 {
    float: left;
    height: 30vw;
    width: 30vw;
}

.side1 .team {
    float: left;
    height: 15vw;
    width: 15vw;
    line-height: 15vw;
    line-height: 15vw;
    text-align: center;
}

.teams .side2 {
    float: right;
    height: 30vw;
    width: 30vw;
}

.side2 .team {
    float: right;
    height: 15vw;
    width: 15vw;
    line-height: 15vw;
    text-align: center;
}

.side1 img,
.side2 img{
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}

.green{
    background-color: rgb(162,211,155);
    border: 12px solid rgb(194, 226, 190);
}

.bordeaux{
    background-color: rgba(97,8,43);
}

.light-blue-strong{
    background-color: rgb(0,147,206);
}

.red1{
    background-color: rgba(255,28,28);
}

.red2{
    background-color: rgb(213,0,31);
}

.light-blue{
    background-color: rgb(180,208,231);
}

.blue{
    background-color: rgb(13,36,129);
}

.yellow{
    background-color: rgb(255,216,48);
}

.side-text{
    width: 40vw;
    height: 30vw;
    margin: 0 auto;
    float: left;
    padding: 30px;
    background-color: rgb(245,245,245);
}

.side-text>img{
    width: 30%;
} 

.side-text>hr{
    margin-top: 40px;
    width: 10%;
    border: 1px solid lightgray;
}

.side-text>p{
    margin-top: 60px;
    margin-bottom: 50px;
}
/* team */
/* minibanner */
.w-70{
    width: 70%;
    margin: 0 auto;
    padding: 120px 0;
}

#mini-banner{
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

.minibanner-text{
    width: 60%;
    float: left;
    color: rgb(103,22,57);
}

.minibanner-text>h2{
    font-size: 45px;
}

.minibanner-button{
    float: right;
    border: 0;
}

.minibanner-button>button{
    padding: 10px 40px;
}
/* minibanner */

/* domande frequenti */
#margin-bot40{
    margin-bottom: 40px;
}

.faq {
    position: relative;
    padding: 30px 0px;
    border-top: 1px solid lightgray;
}

.faq:last-of-type {
    border-bottom: 1px solid lightgray;
    margin-bottom: 100px;
}

.faq .fas {
    position: absolute;
    right: 0;
}

.faq .faq-answer {
    padding-top: 20px;
    width: 70%;
    display: none;
}

.faq:hover {
    cursor: pointer;
}

.faq:hover .faq-answer {
    display: block;
}
/* domande frequenti */

/* footer */
footer{
    background-color: #232728;
    padding: 80px 0px 60px 0;
    color: white;
    width: 100%;
}

.w-90{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

#foot-up{
    padding: 35px 0;
    width: 100%;
}

footer h3 {
    padding-bottom: 20px;
    font-size: 20px;
}

#foot-down{
    padding: 45px 0;
}

#foot-down>a{
    color: grey;
    text-decoration: none;
}

.menu-col{
    float: left;
    width: 20%;
    margin-bottom: 100px;
}
/* footer */